* {
  margin:0px;
  padding:0px;
}

body {
  background-color:#ffff80;
}

pseudo-element::before {
  content: &nbsp; &nbsp; &nbsp; 
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
