* {
  margin: 10px;
  padding: 10px;
}

body, html, .container {
  height: 100%;
}

body {
  background-color:#fdff8c;
  margin: 10px;
  padding-left: 10px;
}

a:hover {
  color: rebeccapurple;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 5px red;
}

h5 {
  padding-left: 50px;
  margin-left: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

  ul {
    margin: 20;
  }

 ul li {
   background: #f7fa66;
   padding: 10px;
   margin-left: 50px;
 }

 ol li {
   background: #f7be20;
   padding: 10px;
   margin-left: 50px;
 }

p {
  display: block;
  text-indent: 2em;
  margin: 50px auto;
  padding: 50px;
  padding-bottom: 5px;
  padding-top: 5px;
  font: 20px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
